<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <!-- 使用spring来创建对象,在spring这些都称为bean-->
    <!-- 这个bean对应tst2的配置-->
    <bean id="hello" class="com.yukicris.Spring5.tst2.pojo.Hello">
        <property name="str" value="Spring"/>
        <!-- 点进这里的str,会直接跳转至set方法,说明其依赖注入本质就是执行set方法注入-->
    </bean>


    <!-- 这个bean对应tst1的配置-->
    <bean id="mysqlImpl" class="com.yukicris.Spring5.tst1.dao.UserDaoMysqlImpl">
    </bean>
    <bean id="oracleImpl" class="com.yukicris.Spring5.tst1.dao.UserDaoOracleImpl">
    </bean>
    <bean id="UserserviceImpl" class="com.yukicris.Spring5.tst1.service.UserServiceImpl">
        <!-- 这个ref指向应用spring容器中已经创建好的对象
                value: 具体的值,基本数据类型
        -->
        <property name="userDao" ref="mysqlImpl"/>
    </bean>

</beans>
