<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 1.properties属性引入外部配置文件 -->
  <!--  <properties resource="com/mybatis/example/config.properties">
        &lt;!&ndash; property里面的属性全局均可使用 &ndash;&gt;
        <property name="username" value="root"/>
        <property name="pasword" value="123"/>
    </properties>-->
    <!--2. 全局配置参数 -->
    <!--<settings>
        &lt;!&ndash; 设置是否启动缓存 &ndash;&gt;
        <setting name="cacheEnabled" value="true"/>
        &lt;!&ndash; 设置是否启用懒加载 &ndash;&gt;
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    &lt;!&ndash; 3.别名设置 &ndash;&gt;
    <typeAliases>
        <typeAlias type="com.mybatis.domain.User" alias="user"/>
        <typeAlias type="com.mybatis.domain.Customer" alias="customer"/>
    </typeAliases>
    &lt;!&ndash; 4.类型转换器 &ndash;&gt;
    <typeHandlers>
        &lt;!&ndash; 一个简单类型转换器 &ndash;&gt;
        <typeHandler handler="com.mybatis.example.ExampleTypeHandler"/>
    </typeHandlers>
    &lt;!&ndash; 5.对象工厂 &ndash;&gt;
    <objectFactory type="com.mybatis.example.ExampleObjectFactory">
        &lt;!&ndash; 对象工厂注入的参数 &ndash;&gt;
        <property name="someProperty" value="100"/>
    </objectFactory>
    &lt;!&ndash; 6.插件 &ndash;&gt;
    <plugins>
        <plugin interceptor="com.mybatis.example.ExamplePlugin">
            <property name="someProperty" value="100"/>
        </plugin>
    </plugins>-->
    <!-- 7.environments数据库环境配置 -->
    <!-- 和Spring整合后environments配置将配废除 -->
    <!--<environments default="development">
        <environment id="development">
            &lt;!&ndash; 使用JDBC事务管理 &ndash;&gt;
            <transactionManager type="JDBC" />
            &lt;!&ndash; 数据库连接池 &ndash;&gt;
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>-->
    <typeAliases>
        <package name="com.yukicris.Spring5.tst10.pojo" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>


    <!-- 8.加载映射文件 -->
  <!--  <mappers>
        <mapper resource="com/mybatis/mapper/UserMapper.xml" />
        <mapper resource="com/mybatis/mapper/CustomerMapper.xml" />
    </mappers>-->
</configuration>
